---
layout: default
title: Blog
hideNavigation: no
---

<section class="posts">
    <ul class="posts list-unstyled">
        {% for post in paginator.posts %}
        <li>
            <a href="{{ site.url.main }}{{ post.url }}/"><h2>{{ post.title }}</h2></a>
            <span class="post-date">{% include postDate.html %}</span>
        </li>
        {% endfor %}
    </ul>
    <ul class="pager">
        {% if paginator.previous_page %}
            <li class="previous">
                {% if paginator.previous_page == 1 %}
                    <a href="{{ site.url.main }}/">Previous</a>
                {% else %}
                    <a href="{{ site.url.main }}{{ paginator.previous_page_path }}/">Previous</a>
                {% endif %}
            </li>
        {% else %}
            <li class="previous disabled">
                <a href="#">Previous</a>
            </li>
        {% endif %}
        {% if paginator.next_page %}
            <li class="next">
                <a href="{{ site.url.main }}{{ paginator.next_page_path }}/">Next</a>
            </li>
        {% else %}
            <li class="next disabled">
                <a href="#">Next</a>
            </li>
        {% endif %}
    </ul>
</section>
