<div class="row author" itemscope itemtype="http://data-vocabulary.org/Person">
    <div class="col-md-12 col-sm-2 col-xs-4">
        <img itemprop="photo" class="avatar img-rounded img-responsive" src="{{ site.url.assets }}/images/pawel.jpg" alt="Pawel Martuszewski" title="Pawel Martuszewski" />
    </div>
    <div class="col-md-12 col-sm-10 cal-xs-8">
        <h4 itemprop="name">Pawel Martuszewski</h4>
        <p itemprop="title">Agile PHP Developer, addicted to BDD and Symfony2</p>
    </div>
    <div class="col-md-12 col-sm-10 cal-xs-8">
        <a href="https://plus.google.com/113599414402176222950?rel=author" rel="publisher" target="_top" style="text-decoration:none;display:none;">
            <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
        </a>
    </div>
</div>
