<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="verify-v1" content="{{ site.analytics.verify }}" />
        <link rel="shortcut icon" href="{{ site.url.assets }}/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.url.main }}/rss.xml" />
        <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ site.url.main }}/atom.xml" />
        <link href="{{ site.url.assets }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ site.url.assets }}/css/code.css" rel="stylesheet">
        <link href="{{ site.url.assets }}/css/base.css" rel="stylesheet">
    </head>
    <body>
        {% include header.html %}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12">
                    {{ content }}
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    {% include author.html %}
                </div>
            </div>
        </div>
        {% include footer.html %}
        <!--<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">try { var pageTracker = _gat._getTracker("{{ site.analytics.google }}"); pageTracker._trackPageview(); } catch(err) { }</script>-->
    </body>
</html>
