---
layout: default
---

<section class="posts tag-posts">
    <h1>{{ page.title }}</h1>

    <ul class="list-unstyled">
        {% for post in site.tags[page.tag] %}
        <li>
            <a href="{{ site.url.main }}{{ post.url }}/"><h2>{{ post.title }}</h2></a>
            <span class="post-date">{% include postDate.html %}</span>
        </li>
        {% endfor %}
    </ul>
    <ul class="pager">
        <li><a href="{{ site.url.main }}/tag/" title="Labels">All labels</a></li>
    </ul>
</section>
